.home {
    text-align: center;
    padding: 20px;
  }
  
  .home-image {
    width: 10%;
    max-height: 400px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .home-content {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
  }
  
  .home-title {
    font-size: 2em;
    margin-bottom: 15px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
  }
  
  .home-text {
    font-size: 1.2em;
    line-height: 1.6;
    color: #666;
    font-family: 'Georgia', serif;
  }
  
  .home-carousel {
    margin-top: 20px;
  }
  
  .carousel-image {
    width: 100%;
    height: 400px; /* Altezza fissa per tutte le immagini */
    object-fit: cover; /* Assicura che l'immagine riempia il contenitore senza deformarsi */
  }
  
  @media (max-width: 768px) {
    .home-title {
      font-size: 1.5em;
    }
  
    .home-image {
      width: 50%; /* Imposta una larghezza maggiore per schermi più piccoli */
      height: auto; /* Mantieni le proporzioni dell'immagine */
      max-height: none; /* Rimuovi il limite di altezza per gli schermi più piccoli */
    }
    
    .home-text {
      font-size: 1em;
    }
  }
  