.orologi {
    display: flex;
    flex-direction: column; /* Disposizione verticale */
    align-items: center;
  }
  
  .orologi-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    padding: 20px;
  }
  
  .orologio-box {
    background-color: #f8f9fa;
    padding: 15px;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    text-align: center;
  }
  
  .orologio-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .orologio-info {
    margin-top: 10px;
  }
  
  .orologio-name {
    font-size: 1.2em;
    font-weight: bold;
  }
  